html {
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}
